extends ../layouts/main-layout.pug 

block styles
	link(rel="stylesheet", href="/css/product.css")

block content
	main
		if hasProducts
			.grid
				each product in products
					article.card.product-item
						header.card__header
							h1.product__title #{product.title}
							
						.card__image
							img(src=product.imageUrl alt="A Book")
						.card__content
							h2.product__price $#{product.price}
							p.product__description #{product.description}
						.card__actions
							form.button-form(action=`/admin/edit-product`, method="get")
								button.btn(type="submit") Edit Product
								include ../partials/product-viewmodel-values

							form.button-form(action=`/admin/delete-product`, method="post")
								button.btn.btn-warning(type="submit") Delete product
								include ../partials/product-viewmodel-values

		else
			h1 No prods baby