doctype html
html(lang="en")

	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{docTitle}
		link(rel="stylesheet", href="/css/main.css")

		block styles

	body
		header.main-header
			nav.main-header__nav
				ul.main-header__item-list
					li.main-header__item
						a(href="/shop" class=(path === '/shop' ? 'active' : '')) Shop 

					li.main-header__item
						a(href="/shop/products" class=(path === '/shop/products' ? 'active' : '')) Products 

					li.main-header__item
						a(href="/shop/cart" class=(path === '/shop/cart' ? 'active' : '')) Cart 

					li.main-header__item
						a(href="/admin/add-product" class=(path === '/admin/add-product' ? 'active' : '')) Add Product

					li.main-header__item
						a(href="/admin/products" class=(path === '/admin/products' ? 'active' : '')) Admin products 
		
		block content