extends ../layouts/main-layout.pug 

block styles
	link(rel="stylesheet", href="/css/product.css")

block content
	main
		if hasProductEntries
			ul
				each productEntry in productEntries
					li #{productEntry.title} - (#{productEntry.quantity})

			h2 Total price - #{totalPrice}

